<footer>
    <div class="attribution container">
      By
      <a href="https://github.com/CarltonMpofu" target="_blank"
        >Carlton Mpofu</a> <br>
        <a href="https://www.flaticon.com/free-icons/plus" title="plus icons">Plus icons created by srip - Flaticon</a>
    </div>
  </footer>
</body>
</html>
