<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="css/styles.css" />
    <title>Minute Countdown</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="title">
          <h1>Chrono Count</h1>
          <form class="form-button" action="/add-day" method="get">
          <button class="image-button" type="submit"><img src="images/add.png" alt=""></button>
        </form>
        </div>
      
      <hr>
      <div class="countdown-container">
        <div class="bar">
          <div class="title-text"><p>Next minute:</p></div>
          <div class="time-text">
            <p id="countdown-minutes-top">5 billion years</p>
          </div>
          <div class="progress-bar">
            <div class="progress progress-minutes"></div>
          </div>
          <div class="time-text">
            <p id="countdown-minutes-bottom">5 billion years</p>
          </div>
        </div>

        <div class="bar">
          <div class="title-text"><p>Next hour:</p></div>
          <div class="time-text">
            <p id="countdown-hours-top">5 billion years</p>
          </div>
          <div class="progress-bar">
            <div class="progress progress-hours"></div>
          </div>
          <div class="time-text">
            <p id="countdown-hours-bottom">5 billion years</p>
          </div>
        </div>

        <div class="bar">
          <div class="title-text"><p>Next day:</p></div>
          <div class="time-text"><p id="countdown-day-top">5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-day"></div>
          </div>
          <div class="time-text">
            <p id="countdown-day-bottom">5 billion years</p>
          </div>
        </div>

        <div class="bar">
          <div class="title-text"><p>Next month:</p></div>
          <div class="time-text"><p id="countdown-month-top">5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-month"></div>
          </div>
          <div class="time-text">
            <p id="countdown-month-bottom">5 billion years</p>
          </div>
        </div>

        <div class="bar">
          <div class="title-text"><p>Next year:</p></div>
          <div class="time-text"><p id="countdown-year-top">5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-year"></div>
          </div>
          <div class="time-text">
            <p id="countdown-year-bottom">5 billion years</p>
          </div>
        </div>

        <div class="bar">
          <div class="title-text"><p>Next Valentine's Day:</p></div>
          <div class="time-text"><p id="countdown-vday-top">5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-vday"></div>
          </div>
          <div class="time-text">
            <p id="countdown-vday-bottom">5 billion years</p>
          </div>
        </div>

        <div class="bar">
          <div class="title-text"><p>Next Mothers's Day:</p></div>
          <div class="time-text"><p id="countdown-mothers-top">5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-mothers"></div>
          </div>
          <div class="time-text">
            <p id="countdown-mothers-bottom">5 billion years</p>
          </div>
        </div>

        <div class="bar">
          <div class="title-text"><p>Next Fathers's Day:</p></div>
          <div class="time-text"><p id="countdown-fathers-top">5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-fathers"></div>
          </div>
          <div class="time-text">
            <p id="countdown-fathers-bottom">5 billion years</p>
          </div>
        </div>

        <div class="bar">
          <div class="title-text"><p>My birthday:</p></div>
          <div class="time-text"><p id="countdown-birthday-top">5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-birthday"></div>
          </div>
          <div class="time-text">
            <p id="countdown-birthday-bottom">5 billion years</p>
          </div>
        </div>

        <% user_days.forEach(user_day => { %>
        
        

        <div class="bar">
          <div class="user" data-day="<%= user_day.date %>">
          <div class="title-text"><p><%= user_day.title %>:</p></div>
          
          <div class="time-text"><p class="top" >5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-user-day"></div>
          </div>
          <div class="time-text">
            <p class="bottom">5 billion years</p>
          </div>
        </div>
        </div>

      <% }); %>
 
        <!-- <div class="bar">
          <div class="user" data-day="2023-1-29">
          <div class="title-text"><p>User birthday:</p></div>
          
          <div class="time-text"><p class="top" >5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-user-day"></div>
          </div>
          <div class="time-text">
            <p class="bottom" >5 billion years</p>
          </div>
        </div>
        </div> -->

        

      </div>
      <script src="script.js"></script>
    </div>
     
    </main>
  </body>
</html>
