
   <%- include('partials/header'); -%>
   
   <main>
      <div class="container">
        <div class="title">
          <h1>Chrono Count</h1>
          <form class="form-button" action="/add-day" method="get">
          <button class="image-button" type="submit"><img src="images/add.png" alt=""></button>
        </form>
        </div>
      
      <hr class="top">
      <div class="countdown-container">
        <div class="bar">
          <div class="title-text"><p>Next minute:</p></div>
          <div class="time-text">
            <p id="countdown-minutes-top">5 billion years</p>
          </div>
          <div class="progress-bar">
            <div class="progress progress-minutes"></div>
          </div>
          <div class="time-text">
            <p id="countdown-minutes-bottom">5 billion years</p>
          </div>
        </div>

        <div class="bar">
          <div class="title-text"><p>Next hour:</p></div>
          <div class="time-text">
            <p id="countdown-hours-top">5 billion years</p>
          </div>
          <div class="progress-bar">
            <div class="progress progress-hours"></div>
          </div>
          <div class="time-text">
            <p id="countdown-hours-bottom">5 billion years</p>
          </div>
        </div>

        <div class="bar">
          <div class="title-text"><p>Next day:</p></div>
          <div class="time-text"><p id="countdown-day-top">5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-day"></div>
          </div>
          <div class="time-text">
            <p id="countdown-day-bottom">5 billion years</p>
          </div>
        </div>

        <div class="bar">
          <div class="title-text"><p>Next month:</p></div>
          <div class="time-text"><p id="countdown-month-top">5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-month"></div>
          </div>
          <div class="time-text">
            <p id="countdown-month-bottom">5 billion years</p>
          </div>
        </div>

        <div class="bar">
          <div class="title-text"><p>Next year:</p></div>
          <div class="time-text"><p id="countdown-year-top">5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-year"></div>
          </div>
          <div class="time-text">
            <p id="countdown-year-bottom">5 billion years</p>
          </div>
        </div>

        <div class="bar">
          <div class="title-text"><p>Next Valentine's Day:</p></div>
          <div class="time-text"><p id="countdown-vday-top">5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-vday"></div>
          </div>
          <div class="time-text">
            <p id="countdown-vday-bottom">5 billion years</p>
          </div>
        </div>

        <div class="bar">
          <div class="title-text"><p>Next Mothers's Day:</p></div>
          <div class="time-text"><p id="countdown-mothers-top">5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-mothers"></div>
          </div>
          <div class="time-text">
            <p id="countdown-mothers-bottom">5 billion years</p>
          </div>
        </div>

        <div class="bar">
          <div class="title-text"><p>Next Fathers's Day:</p></div>
          <div class="time-text"><p id="countdown-fathers-top">5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-fathers"></div>
          </div>
          <div class="time-text">
            <p id="countdown-fathers-bottom">5 billion years</p>
          </div>
        </div>

        <div class="bar">
          <div class="title-text"><p>My birthday:</p></div>
          <div class="time-text"><p id="countdown-birthday-top">5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-birthday"></div>
          </div>
          <div class="time-text">
            <p id="countdown-birthday-bottom">5 billion years</p>
          </div>
        </div>

        <% user_days.forEach(user_day => { %>
        
        

        <div class="bar">
          <div class="user" data-day="<%= user_day.date %>">
          <div class="title-text"><p><%= user_day.title %>:</p></div>
          
          <div class="time-text"><p class="top" >5 billion years</p></div>
          <div class="progress-bar">
            <div class="progress progress-user-day"></div>
          </div>
          <div class="time-text">
            <p class="bottom">5 billion years</p>
          </div>
        </div>
        </div>

      <% }); %>
        <hr>
      </div>
      <script src="script.js"></script>
    </div>
     
    </main>

    <%- include('partials/footer'); -%>    